@font-face {
    font-family: 'muliregular';
    src: url('../fonts/muli-webfont.woff2') format('woff2'),
         url('../fonts/muli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ovoregular';
    src: url('../fonts/ovo-regular-webfont.woff2') format('woff2'),
         url('../fonts/ovo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$body-font: "muliregular", sans-serif;
$head-font: "ovoregular", serif;
$bg-color: #EFEFEF;
$font-color: #000;
$highlight-color: #77C9D4;
$accent-color: #57BC90;
$brd: 2px solid #015249;

@mixin flex-col{
    display: flex;
    flex-flow: column wrap;
}
@mixin flex-row{
    display: flex;
    flex-flow: row wrap;
}
@mixin center{
    justify-content: center;
    align-items: center;
}

body{
    @include flex-row;
    font-family: $body-font;
}
ul{
    list-style: none;
}
h1{
    font-family: $head-font;
    text-align: center;
    background-color: $highlight-color;
    color: $font-color;
    width: 100%;
}
h2{
    background-color: $highlight-color;
    width: 100%;
}

.header{
    border: $brd;
    background-color: $bg-color;
    width: 100%;
    h1{
        font-size: 3em;
    }
}
.aside{
    background-color: $bg-color;
    border: $brd;
    width: 25%;
    .ulAside{
        padding: 0.5em;
        li{
            @include flex-col;
            @include center;
            p{
                margin-bottom: 1em;
            }
            .getButtons{
                height: 3em;
                width: 11em;
                background-color: $accent-color;
                border-radius: 10%;
                border: none;
                font-size: 1em;
            }  
        }
    }
}
.showcase{
    @include flex-col;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: $bg-color;
    border: $brd;
    width: 36.5%;    
    div{
        margin: 0.5em 0 0 2em;
        .addButton{
            background-color: $accent-color;
            border: none;
            border-radius: 10%;
            height: 3em;
            width: 8em;
        }
    }
      .movieEditor{
        @include flex-col;
        ul{
            margin: 0 0 2em 0;
           }
       }
}
.movieDisplay{
    margin-bottom: 2em;
    padding: 0.5em;
    border: $brd;
    background-color: #FFF;
    p{
        margin: 0;
    }
    img{
        width: 8em;
        height: 11em;
    }
}



